nextflow.enable.dsl = 2

//LSF (Platform Load Sharing Facility) 
process.executor = 'lsf'
process.queue = 'gpu'
process.memory = '24G'
process.cpus = '4'
docker.runOptions = '-u $(id -u):$(id -g)'
singularity.enabled = true

// Defaults values for params
params.fastq_single = null
params.fastq_paired = null

//trimmomatic_control='"SLIDINGWINDOW:4:15 MINLEN:75"'
params.trimmomatic_control='"HEADCROP:10 MINLEN:75"'
