//  nextflow -c pipelines/mike_francis_lab/config/Experiment3/experiment3.config run core-workflows/01-get-dropbox-data.nf -bg -N daniel.higgins@umassmed.edu
//  nextflow -c pipelines/mike_francis_lab/config/Experiment3/experiment3.config run core-workflows/02-fastqc.nf -bg -N daniel.higgins@umassmed.edu
//  nextflow -c pipelines/mike_francis_lab/config/Experiment3/experiment3.config run core-workflows/03-trimmomatic.nf -bg -N daniel.higgins@umassmed.edu
//  nextflow -c pipelines/mike_francis_lab/config/Experiment3/experiment3.config run core-workflows/04-rnaseq-rsem.nf -bg -N daniel.higgins@umassmed.edu
//  nextflow -c pipelines/mike_francis_lab/config/Experiment3/experiment3.config run core-workflows/04-rnaseq-salmon.nf -bg -N daniel.higgins@umassmed.edu
//  nextflow -c pipelines/mike_francis_lab/config/Experiment3/experiment3.config run core-workflows/05a-deseq-rsem.nf -bg -N daniel.higgins@umassmed.edu
//  nextflow -c pipelines/mike_francis_lab/config/Experiment3/experiment3.config run core-workflows/05b-deseq-rsem-report.nf -bg -N daniel.higgins@umassmed.edu
//  nextflow -c pipelines/mike_francis_lab/config/Experiment3/experiment3.config run core-workflows/06-wormcat.nf -bg -N daniel.higgins@umassmed.edu
//  nextflow -c pipelines/mike_francis_lab/config/Experiment3/experiment3.config run core-workflows/07-overview-report.nf -bg -N daniel.higgins@umassmed.edu

params.data_remote = "SamLiu_ Francis lab September 2023"
params.project_dir = "pipelines/mike_francis_lab"
params.data_for = "Experiment3"

params.config_dir = "${launchDir}/${params.project_dir}/config/${params.data_for}"
params.data_dir = "${launchDir}/${params.project_dir}/data/${params.data_for}"
params.results_dir = "${launchDir}/${params.project_dir}/results"
params.shared_results_dir = "${launchDir}/pipelines/shared/results"

//params.fastq_paired = "${params.data_dir}/**/*_{1,2}.fq.gz"
params.fastq_paired = "${params.results_dir}/trimmed/**/*_{1,2}.fq.gz"

params.star_index_dir = "${params.shared_results_dir}/star_index"
params.rsem_reference_dir = "${params.shared_results_dir}/rsem_index"


params.salmon_index_dir = "${params.shared_results_dir}/salmon_index"
params.tx2gene = "${params.shared_results_dir}/salmon_transcripts/tx2gene.tsv"
params.counts_method = "lengthScaledTPM"

params.deseq_meta = "${params.config_dir}/deseq_meta/run_*.csv"
params.rsem_counts = "${params.results_dir}/rsem_summary/genes_expression_expected_count.tsv"
params.low_count_max = 10

params.deseq_up_down_dir = "${params.results_dir}/deseq_**/wc_**"


params.report_config = "${params.config_dir}/experiment1.json"

